body {
    /*background-image: url("heroImage.jpg");
    background-color: #78787E;*/
    background-color: #F0F0FC;
    overflow-x:hidden;
}

#navcontainer {
    background-color:#2E5266;
}

#content {
    color: black;
    background-color: white;
    width: 80%;
    padding: 1rem 2rem;
    margin: auto;
    margin-top: 1rem;
}
